* {
    /* Universal selector */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    /* To specify design of logo */
    display: inline-block;
    font-size: 48px;
}

#seo {
    /* To display a different colour for letters 'seo' in logo */
    color: #d9dcd6;
}

nav {
    /* To specify navigation bar design */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav li {
    /* To specify layout of each navigation element */
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

nav a {
    /* To specify font design of each navigation element */
    color: #ffffff;
    text-decoration: none;
}

#main-image {
    /* Display settings for website main image */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.services {
    /* To specify design of services section */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services-offered {
    /* Design of box and text for each service */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services-float-left {
    /* Display settings for images in the services section that float left */
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.services-float-right {
    /* Display settings for images in the services section that float right */
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.services-offered h2 {
    /* Text design settings for all service headers */
    margin-bottom: 20px;
    font-size: 36px;
}

.services-offered p {
    /* Specifies font size of descriptive text in the services section */
    font-size: 16px;
}

.benefits {
    /* Specify design of entire benefits section */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-list {
    /* Design of each benefit item */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-list h3 {
    /* Specifies size and font settings for each header in benefits section */
    margin-bottom: 10px;
    text-align: center;
}

.benefits-list img {
    /* Display settings for images under benefits section */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer h2 {
    font-size: 20px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
